<%= stylesheet_link_tag "styles" %>
<div class="card">
  <%= simple_form_for(@shop) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <output id="list"></output>
  <%# <div id="drop-zone" class="files form-inputs text-center"> %>
    <div class="form-group files">
      <h5 class="text-center">Only jpeg, png, svg and jpg are allowed. Maximum of 3 images</h5> 
        <div id="drop-zone" class="text-center">
          <%= f.file_field :images, multiple: true%>
        </div>
    </div> 
  </div>

      <%#= f.file_field :user_shots, label: false, input_html: { class: "file-input", type: "file" }, wrapper: false, label_html: { class: "file-label" }, multiple: true %>
      
      <%# <%= f.input :title, label: "Title", input_html: { class: "input"}, wrapper: false, label_html: { class: "label" } %>

      
    <%= f.input :title %>
    <%= f.input :description %>

      <%# <%= f.input :description, input_html: { class: "textarea"}, wrapper: false, label_html: { class: "label" } %>

      <%= f.submit"Create Shot", class:"btn btn-primary" %>
  <% end %>
</div>