<%= stylesheet_link_tag "shops" %>


<% if user_signed_in? %>
  
<section class="section grid">
  <div class="shots grid">
    <% @shops.each do |shop| %>
      <div class="shot-grid-item">
        <div class="shot-wrapper ">
          <%= link_to shop, class:"shot" do %>
              <h3 class="shot-title"><% shop.title %></h3>
            <div class="img-fluid"><%= image_tag shop.thumbnail(0)%> </div>
            <div class="shot-data">
              <div class="shot-description"><%= truncate(shop.description, length: 60) %> </div>
              <div class="shot-time">
                <%= time_ago_in_words(shop.created_at) %>
              </div>
            </div>
          <% end %><br>
          <div class="level shot-analytics float-end av">
            <ul class="list-group list-group-horizontal">
              <li class="list-group-item">
                <%= link_to shop do%>
                  <span class="icon"><i class="fa fa-eye"><%= shop.impressionist_count%></i></span>
                <% end %>
              </li>
              <li class="list-group-item">
                <%= link_to shop do %>
                  <span class="icon"><i class="fa fa-comment"></i></span>
                  <%= shop.comments.count %>
                <% end %>
              </li>
              <li class="list-group-item">
                <% if user_signed_in? %>
                  <% if current_user.liked? shop %>
                    <%= link_to unlike_shop_path(shop), method: :put, class: "unlike_shop" do %>
                        <span class="icon"><i class="fa fa-heart vote-count "><%= shop.get_likes.size %></i></span> 
                        
                    <% end %>
                  <% else %>
                    <%= link_to like_shop_path(shop), method: :put, class: "like_shop" do %>
                        <span class="icon"><i class="fa fa-heart vote-count "><%= shop.get_likes.size %></i></span> 
                        
                    <% end %>
                  <% end %>
                <% else %>
                  <%= link_to like_shop_path(shop), method: :put, class: "like_shop" do %>
                    <span class="icon"><i class="fa fa-heart vote-count "> <%= shop.get_likes.size %></i>
                    
                  <% end %>
                <% end %>
              </li>
            </ul>
          </div>

          <div class="user-data">
            <div class="user-thumb text-end">
              <%= gravatar_image_tag(shop.user.email.gsub('spam', 'mdeering'), alt: shop.user.name,
               gravatar: { size: 20 }); %> <%= shop.user.name %> 
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</section>
  <% else %>
  <%= render 'hero' %>
  <br>
<section class="section grid">
  <div class="shots grid">
    <% @shops.each do |shop| %>
      <div class="shot-grid-item">
        <div class="shot-wrapper ">
          <%= link_to shop, class:"shot" do %>
            <div class="img-fluid"><%= image_tag shop.thumbnail(0)%> </div>
            <div class="shot-data">
              <h3 class="shot-title"><%= shop.title %></h3>
              <div class="shot-description"><%= truncate(shop.description, length: 60) %> </div>
              <div class="shot-time">
                <%= time_ago_in_words(shop.created_at) %>
              </div>
            </div>
          <% end %><br>

          <nav class="level shot-analytics">
          
            
          </nav>
          <div class="user-data">
            <div class="user-thumb text-end">
              <%= gravatar_image_tag(shop.user.email.gsub('spam', 'mdeering'), alt: shop.user.name,
               gravatar: { size: 20 }); %> <%= shop.user.name %> 
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</section>
<% end %>

