<%= stylesheet_link_tag "styles" %>
<div class="section">
  <div class="container">
    <div class="row ">
      <div class="col" id="main">
        <h1 class="title"><%= @shop.title %> </h1>
        <span class="text-grey"></span>
          <h6 class="user-thumb ">
            by <%= gravatar_image_tag( @shop.user.email.gsub('spam', 'mdeering'), alt: @shop.user.name, class: "ms-3 totm", gravatar: { size: 20 }); %>  <%= @shop.user.name %> <span class="text-grey ms-3">  posted</span><span class="bt">
            <%= verbose_date(@shop.created_at)  %>
          </h6>
        </span>
      </div>
      <div class="col" id="other">
        <div class="level shot-analytics float-end av">
          <ul class="list-group list-group-horizontal">
            <li class="list-group-item">
              <%= link_to @shop do%>
                <span class="icon"><i class="fa fa-eye"><%= @shop.impressionist_count%></i></span>
              <% end %>
            </li>
            <li class="list-group-item">
              <%= link_to @shop do %>
                <span class="icon"><i class="fa fa-comment"></i></span>
                <%= @shop.comments.count %>
              <% end %>
            </li>
            <li class="list-group-item">
              <% if user_signed_in? %>
                <% if current_user.liked? @shop %>
                  <%= link_to unlike_shop_path(@shop), method: :put, class: "unlike_shop" do %>
                      <span class="icon"><i class="fa fa-heart vote-count "><%= @shop.get_likes.size %></i></span> 
                      
                  <% end %>
                <% else %>
                  <%= link_to like_shop_path(@shop), method: :put, class: "like_shop" do %>
                      <span class="icon"><i class="fa fa-heart vote-count "><%= @shop.get_likes.size %></i></span> 
                      
                  <% end %>
                <% end %>
              <% else %>
                <%= link_to like_shop_path(@shop), method: :put, class: "like_shop" do %>
                  <span class="icon"><i class="fa fa-heart vote-count "> <%= @shop.get_likes.size %></i>
                  
                <% end %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="mobile float-end mb-5">
      <div class="level shot-analytics float-end av">
          <ul class="list-group list-group-horizontal">
            <li class="list-group-item">
              <%= link_to @shop do%>
                <span class="icon"><i class="fa fa-eye"><%= @shop.impressionist_count%></i></span>
              <% end %>
            </li>
            <li class="list-group-item">
              <%= link_to @shop do %>
                <span class="icon"><i class="fa fa-comment"></i></span>
                <%= @shop.comments.count %>
              <% end %>
            </li>
            <li class="list-group-item">
              <% if user_signed_in? %>
                <% if current_user.liked? @shop %>
                  <%= link_to unlike_shop_path(@shop), method: :put, class: "unlike_shop" do %>
                      <span class="icon"><i class="fa fa-heart vote-count "><%= @shop.get_likes.size %></i></span> 
                      
                  <% end %>
                <% else %>
                  <%= link_to like_shop_path(@shop), method: :put, class: "like_shop" do %>
                      <span class="icon"><i class="fa fa-heart vote-count "><%= @shop.get_likes.size %></i></span> 
                      
                  <% end %>
                <% end %>
              <% else %>
                <%= link_to like_shop_path(@shop), method: :put, class: "like_shop" do %>
                  <span class="icon"><i class="fa fa-heart vote-count "> <%= @shop.get_likes.size %></i>
                  
                <% end %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="grid">
      <div class="shot-container  pt-5"><%= render 'carousel' %>
        <div class="shot-full "></div>
        <br>
        <h4 class="content container"><%= @shop.description %></h4>
        <br>
      </div>
    </div>
    <br>
    </div> 
          
    <% if user_signed_in? && (current_user.id == @shop.user_id) %>
      <%= link_to 'Edit', edit_shop_path(@shop), class: "btn btn-secondary" %>
      <%= link_to shop_path, method: :delete, data: {confirm: "Are You Sure?"}, class: "btn btn-outline-danger  ms-3" do %>
        <i class="fa fa-trash">  Delete</i><p></p>
      <% end %>
    <% end %>
             

             
    <section class="container comments mb-3"><br>
      <h2><%= pluralize(@shop.comments.count, 'Comment') %> </h2><hr/>
      <%= render @shop.comments %>
      <br>
      <% if user_signed_in? %>
        <div class="comment-form">
        <div class=""></div>
          <h2 class="text-center ">Leave a reply</h2>
          <div class=""><div class=""><%= render 'comments/form' %></div></div> 
        </div>
      <% else %>
        <div class="content"><%= link_to 'Sign In', new_user_session_path, class: "btn btn-primary" %>  to leave a comment</div>
      <% end %>
    </section><br>
    </div><br>
  </div>
</div>